LikewizeRetailApp/Connected Services/ServiceReference1/SnsServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Brightstar.SNS.BusinessLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Brightstar.SNS.BusinessLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSwappingSerials">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SwappingSerials" nillable="true" type="tns:SwappingSerials" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSwappingSerials" nillable="true" type="tns:ArrayOfSwappingSerials" />
  <xs:complexType name="SwappingSerials">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExistingSerial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewCpnyID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewInvtID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewSerial" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SwappingSerials" nillable="true" type="tns:SwappingSerials" />
</xs:schema>