LikewizeRetailApp/Connected Services/ServiceReference2/SnsServices4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Brightstar.SNS.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Brightstar.SNS.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ReturnStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="InnerException" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnData" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="ReturnValue" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="isSuccessful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnStatus" nillable="true" type="tns:ReturnStatus" />
  <xs:complexType name="SNSMST">
    <xs:sequence>
      <xs:element minOccurs="0" name="DONumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InventoryID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TranDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SNSMST" nillable="true" type="tns:SNSMST" />
  <xs:complexType name="SCReturnStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsValidIMEI1" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsValidIMEI2" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsValidSKU" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReturnStatus" nillable="true" type="tns:ReturnStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SCReturnStatus" nillable="true" type="tns:SCReturnStatus" />
</xs:schema>